@import 'styles/common';
.nodeInfo-container {
  position: relative;
  .nodeInfo {
    background: none;
    border: none;
    cursor: pointer;
    .online {
      color: $color-success;
    }
    .offline {
      color: red;
    }
    .syncing {
      color: $color-warning;
    }
  }
  .nodeInfo-content {
    position: absolute;
    transform: translateX(-100%);
    left: 100%;
    padding: 20px;
    .name-value {
      white-space: nowrap;
      td {
        padding: 5px 10px;
      }
      .name {
        color: grey
      }
      .value {
        font-weight: bold;
      }
    }
  }
  .nodeInfo-content{
    display: none;
  }
  .nodeInfo:hover + .nodeInfo-content {
    display: block;
  }
}
