@import 'styles/common';

.app-content {
  display: flex;
  padding-top: 51px;
  min-height: 100%;
  .main {
    flex: 1;
    padding: 0px 40px;
  }
  .sidebar {
    .logo {
      display: block;
      background-image: url("../../images/logo.png");
      background-repeat: no-repeat;
      background-size: contain;
      height: 221px;
    }
    width: 200px;
    overflow-x: hidden;
    overflow-y: auto; 
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
    .sidebar-content {
      padding: 20px;
    }
    .nav-sidebar {
      margin-right: -21px;
      margin-bottom: 20px;
      margin-left: -20px;
    }
    .nav-sidebar > li > a {
      padding-right: 20px;
      padding-left: 20px;
    }
    .nav-sidebar > .active > a,
    .nav-sidebar > .active > a:hover,
    .nav-sidebar > .active > a:focus {
      color: #fff;
      background-color: #428bca;
    }
  }
}

.nodeAddress .modal-body {
  min-height: 390px;
}

.th-dropdown {
  position: absolute;
  background-color: white;
  top: 100%;
  left: 0%;
  margin-top: 5px;
  box-shadow: -1px 2px 15px 3px rgba(0,0,0,0.2);
  .th-dropdown-option {
    &:hover {
      background-color: rgba(0, 126, 255, 0.08);
    }
    cursor: pointer;
    color: black;
    font-weight: normal;
    font-size: 18px;
    white-space: nowrap;
    padding: 10px 20px;
  }
}

.navbar-brand {
  color: #fff !important;
  background-color: transparent !important;
  a {
    margin-left: 20px;
    color: #8fc4f1 !important;
    text-decoration: none !important;
  }
}

.navbar-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  .nodeInfo-wrapper {
    margin-left: auto;
  }
}

.action-button-row {
  display: flex;
  justify-content: center;
  align-items: center;
  button {
    font-size: 20px;
  }
}

.open-keyfile-group {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  button {
    margin-right: 10px;
  }
  .account {
    font-size: 12px;
  }
  .form-group {
    margin-bottom: 0px;
  }
  margin-bottom: 30px;
}

.hwallet-error {
  button {
    margin-left: 20px;
  }
}

.transaction {
  display: flex;
  padding: 20px;
  align-items: center;
  justify-content: space-between;
  .left-col {
    .address {
      font-size: 12px;
      padding-bottom: 10px;
      white-space: nowrap;
    }
    .hash {
      text-overflow: ellipsis;
      overflow: hidden;
      word-wrap: break-word;
      display: inline-block;
      max-width: 200px;
    }
    .date {
      color: grey;
    }
  }
  .caption {
    font-weight: bold;
    padding-bottom: 5px;
    font-size: 12px;
  }
  .owners {
    font-size: 12px;
  }
  .status {
    i {
      margin-left: 10px;
    }
    .deployed {
      color: green;
    }
  }
}

.walletTypeBlock {
  display: flex;
  .form-group {
    min-width: 160px;
  }
  .download {
    margin-left: 60px;
    margin-top: 32px;
    a {
      margin-left: 20px;
      text-decoration: underline;
      cursor: pointer;
    }
  }
}

.ledgerAddress-container {
  display: flex;
  align-items: center;
  >:first-child {
    flex: 1;
  }
  >:not(:first-child) {
    margin-left: 20px;
    margin-top: 7px;
  }
}

.network-option{
  min-height: 35px;
  display: flex;
  align-items: center;
  .chainID-input {
    display: flex;
    margin-left: 10px;
    white-space: nowrap;
    align-items: center;
    input {
      margin-left: 10px;
    }
  }
}

.form-input-addon {
  display: flex;
  align-items: center;
  >:first-child {
    flex: 1;
  }
  >:last-child {
    margin-left: 20px;
  }
}
