@import 'styles/common';

.addressList {
  .form-group {
    margin-bottom: 0px !important;
    .help-block {
      margin-bottom: 0px !important;
    }
  }
  margin-bottom: 50px;
  .addressRow{
    display: flex;
    flex-direction: row;
    width: 100%;
    .form-group {
      width: 100%;
    }
  }
  .add {
    &:hover {
      text-decoration: none;
    }
  }
  .required {
    margin-left: 20px;
    color: $color-error;
  }
  .add, .required {
    font-size: 20px;
  }
  .remove {
    color: red;
    position: relative;
    top: 30px;
    margin-left: 20px;
    cursor: pointer;
  }
}
