@import 'styles/common';
.btn {
  // for spinner icon
  position: relative;
  .btn-spinner-container {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    i {
      top: 0px !important;
    }
  }
  &.btn-default {
    background-color: white !important;
  }
  &.btn-primary {
    color: white;
    border: none;
  }
  &.btn-danger {
    color: white;
    background: $color-error;
  }

}
