.card {
  //min-height: 50px;
  margin: 0.5rem 0 1rem 0;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 10px;
  background-color: white;
  border-radius: 2px;
  .body {
    font-size: 14px;
    color: #555;
    padding: 20px;
  }
  .header {
    color: rgb(85, 85, 85);
    position: relative;
    padding: 20px;
    border-bottom: 1px solid rgba(204, 204, 204, 0.34902);
    .header-dropdown {
      position: absolute;
      top: 20px;
      right: 15px;
      list-style: none;
    }
    h2 {
      font-size: 18px;
      margin-top: 0px;
      margin-bottom: 0px;
      small {
        display: block;
        font-size: 12px;
        margin-top: 5px;
        color: #999;
        line-height: 15px;
      }
    }
  }
  .card-entry {
    .key {
      font-size: 13px;
      margin-top: 11px;
      color: #555;
    }
    .value {
      overflow: auto;
      font-weight: normal;
      font-size: 26px;
      margin-top: -4px;
      color: #555;
    }
  }
  .card-action {
    position: relative;
    background-color: inherit;
    border-top: 1px solid rgba(160, 160, 160, 0.2);
    padding: 16px 24px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

