@import 'styles/common';

.form-group {
  .control-label {
    width: 100%;
  }

  .note {
    float: right;
    font-weight: normal;
  }

  .status-icon {
    margin-left: 5px;
    margin-right: 5px;
  }

  &.disabled .control-label {
    color: grey;
  }

  &.has-success {
    .control-label, .help-block {
      color: $color-success !important;
    }
  }
  &.has-error {
    .control-label, .help-block {
      color: $color-error !important;
    }
  }
}

